<h1 id="show">All Merchants</h1>
<div id="merchant-wrapper">

  <div class="filter">
    <img src="/images/cross.png" alt="cross"><p><a href="/merchants/new">Add Merchant</a></p>
  </div>

  <table class="merchtag">

  <% @merchants.each do |merchant| %>
    <tr>
      <td><%= merchant.name.capitalize%></td>
      <td><a href="/merchants/<%= merchant.id %>/edit"><img src="/images/edit.png" alt="edit"></a></td>
      <td><form action="/merchants/<%= merchant.id %>/delete" method="post">
        <input id="buttons-delete" type="submit" value=""/>
      </form></td>
    </tr>
    <% end %>
  </table>



</div>
