<h1 id= "show">New Merchant</h1>
<form method="POST" action="/merchants">
  <div class="form-wrapper-m">

    <div class="form-new-merchant">
      <label for="name">Merchant Name:</label>
      <input autocomplete="off" type="text" name="name" id="name"/>
    </div>

    <div class="form-button">
      <input class="buttons" type="submit" value="Create"/>
    </div>

  </div>
</form>
