<h2>Transactions</h2>

<div id="transaction-wrapper">
  <% @transactions.each do |transaction| %>

  <div class="transaction">
    <p>Date: <%= transaction.date_added %></p>
    <p>Merchant: <%= transaction.merchant.name %></p>
    <p>Spent: <%= transaction.price %></p>
    <p>Tag: <%= transaction.merchant.name %></p>
  </div>

  <% end %>
</div>
