
<% if @budgets.count == 0 %>

  <h1 id="show">Get Started</h1>
  <!-- <div class="logo-flag">

  </div> -->
  <p><a href='/budgets/new'>Create Your Budget</a></p>
<% else %>
  <h1 id="show">Welcome Back!</h1>
  <p><a href='/budgets'>My Dashboard</a></p>
<% end %>
