
<p>Created: <%= @transaction.date_added %></p>
<p>Merchant: <%= @transaction.merchant.name.capitalize %></p>
<p>Spent: <%= @transaction.price %></p>
<p>Tag: <%= @transaction.merchant.name.capitalize %></p>
