@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan');
/* font-family: 'Baloo Chettan', cursive; */
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');
/* font-family: 'Quicksand', sans-serif; */

body {
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  position:relative;
  min-height: 100vh;

}

/* progress bar */
progress {
border: 2px solid black;
}
progress[value] {
  /* Reset the default appearance */
-webkit-appearance: none;
 appearance: none;
  width: 250px;
  height: 30px;
}

progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
  background-color: gold;

}





.container {
  display: flex;
  margin-left: 100px;
  text-decoration: none;
  font-weight: bold;
  margin-bottom: 8px;
  padding-left: 150px;
}

.logo {
  margin-left: 10px;
}

#branding{
  font-family: 'Baloo Chettan', cursive;
  font-size: 35px;
  margin-right: 10%;
  margin-top: 20px;
  margin-left: 5px;
  height: 90%;

}

nav div p {
margin-bottom:10px;
}

#tagline {
  text-align: center;
  margin-top:0;
}

nav {
  display:flex;
  align-items: flex-end;
  background-color: gold;
  border-bottom: 3px solid black;
  margin-bottom: 100px;
}

li {
margin: 10px 20px;
}

nav li a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

ul {
  list-style: none;
}

.current-menu-item a {
  color: white;
}


section {
align-items: center;

}

.filter-menu{
  display: flex;
  justify-content: center;
  font-weight: bold;
}

.filter {
  display: flex;
  align-items: center;
  justify-content:center;
  margin-right: 35px;
  margin-left: 25px;
  padding-bottom: 30px;

}

.filter a {
    text-decoration: inherit;
    color: black;
    text-align: center;
}

.filter form {
  padding-left: 5px;
}

.filter img {
 padding-right: 5px;
}

.filter p {
  font-style: inherit;
}


table {
  text-align: center;
  table-layout: fixed;
  width: 80%;
  margin: auto;
  padding-top: 50px;
  border-collapse: collapse;
  border: 2px solid black;
  font-size: 1em;

}
thead th:nth-child(1) {
  width: 20%;
}

thead th:nth-child(2) {
  width: 20%;
}

thead th:nth-child(3) {
  width: 20%;
}

thead th:nth-child(4) {
  width: 20%;
}

thead th:nth-child(5) {
  width: 20%;
}

th, td {
  padding: 5px 20px;
}

tbody tr:nth-child(odd) {
  background-color: silver;
}
thead {

}


#view {
  text-decoration: none;
  color:black;
}

#tfoot {
 font-weight: bold;
}

.merchtag {
  table-layout: auto;
  width: auto;
  margin-top: 20px;
}

.buttons {
  font-size: 15px;
  margin: 25px;
}

.budget-info {
 display: flex;
 align-items: center;
 justify-content: center;


}

.footer {
  padding: 5px;
  margin-top: 20%;
  text-align: center;
  border-top: grey 3px solid;
  background-color: black;
  color: #e5e5e5;
}
