<h2>Edit Tag</h2>
<form method="POST" action="/tags/<%=@tag.id%>">
  <div class="form-wrapper">

    <div class="form-edit-tag">
      <label for="price">Tag Name:</label>
      <input type="text" name="name" id="name" value="<%=@tag.name%>"/>
    </div>

    <div class="form-edit-tag">
      <input type="submit" value="Update Tag"/>
    </div>

  </div>
</form>

<form action="/tags/<%= @tag.id %>/delete" method="post">
  <input type="submit" value="Delete"/>
</form>
