<h1 id="show">All Tags</h1>

<div id="tag-wrapper">

  <div class="filter">
    <img src="/images/cross.png" alt="cross"><p><a href="/tags/new">Add Tag</a></p>
  </div>

  <table class="merchtag">

  <% @tags.each do |tag| %>
    <tr>
      <td><%= tag.name.capitalize%></td>
      <td><a href="/tags/<%= tag.id %>/edit"><img src="/images/edit.png" alt="edit"></a></td>
      <td><form action="/tags/<%= tag.id %>/delete" method="post">
        <input id="buttons-delete" type="submit" value=""/>
      </form></td>
    </tr>
    <% end %>
  </table>


</div>
