

<div id="tag-wrapper">

  <form action="/tags/new" method="GET">
    <input class="buttons" type="submit" value="New Tag"/>
  </form>

  <table class="merchtag">

  <% @tags.each do |tag| %>
    <tr>
      <td><%= tag.name.capitalize%></td>
      <td><a href="/tags/<%= tag.id %>">View</a></td>
    </tr>
    <% end %>
  </table>


</div>
