<h2>Tags</h2>

<div id="tag-wrapper">
  <table class="merchtag">
    <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>
  <% @tags.each do |tag| %>
    <tr>
      <td><%= tag.name.capitalize%></td>
      <td><a href="/tags/<%= tag.id %>">View</a></td>
    </tr>
    <% end %>
  </table>

  <form action="/tags/new/" method="GET">
    <input type="submit" value="New Tag"/>
  </form>

</div>
