<h2>New Tag</h2>
<form method="POST" action="/tags">
  <div class="form-wrapper">

    <div class="form-newt">
      <label for="price">Tag Name:</label>
      <input type="text" name="name" id="name"/>
    </div>

    <div class="form-new-tag">
      <input type="submit" value="Create Tag"/>
    </div>

  </div>
</form>
