<h1 id="show">New Tag</h1>
<form method="POST" action="/tags">
  <div class="form-wrapper">

    <div class="form-new-tag">
      <label for="name">Tag Name:</label>
      <input type="text" name="name" id="name"/>
    </div>

    <div class="form-new-tag">
      <input class="buttons" type="submit" value="Create Tag"/>
    </div>

  </div>
</form>
